*{
  margin: 0;
  padding: 0;
}

main{
  padding-top: 20px;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
  margin: 0 20em;
  gap: 1em;
  
  
}

/*  .div1 {
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;
  
  
}

.div2{
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;
  
  
} */